@import url("reset.css");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --white: #ffffff;
  --lightgray: #e1e1e6;
  --gray: #c4c4cc;
  --darkgray: #323238;
  --black: #202024;
  --pink: #ff008e;
  --yellow: #ffcd1e;
}

body {
  background: var(--black) url(../images/background.png) no-repeat;
  background-position: 0 50px;
  background-size: 100% 430px;
  backdrop-filter: blur(100px);
  font-family: "Roboto", sans-serif;
}

.container__line {
  display: none;
}

.container__card {
  background: url(../images/header.png) no-repeat;
  background-size: 100% 430px;
  display: grid;
  padding: 169px 56px 56px 56px;
  place-items: center;
  text-align: center;
}

.card__avatar-logo {
  margin: -16px 0 0 0;
  position: absolute;
}

.card__title {
  color: var(--lightgray);
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin: 24px 0 0 0;
}

.card__github {
  color: var(--gray);
  font-size: 16px;
  line-height: 26px;
  margin: 4px 0 0 0;
}

.card__github-icon {
  font-size: 16px;
  line-height: 16px;
  margin: 0 8px 0 0;
}

.card__text {
  color: var(--lightgray);
  font-size: 14px;
  line-height: 24px;
  margin: 32px 0 0 0;
  word-break: break-word;
}

.card__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin: 64px 0 0 0;
}

.card__social-link {
  background: var(--darkgray);
  border-radius: 2px;
  display: block;
  height: 48px;
  transition: 0.3s;
}

.youtube:hover {
  background: #ff0000;
}

.instagram:hover {
  background: #da3175;
}

.facebook:hover {
  background: #4565a3;
}

.twitter:hover {
  background: #3ab2dc;
}

@media screen and (min-width: 600px) {
  body {
    background-position: 0 0;
  }

  .container {
    height: 540px;
    margin: 0 auto;
    width: 360px;
  }

  .container__line {
    display: flex;
    justify-content: center;
  }

  .container__line img {
    z-index: 100;
  }

  .container__card {
    background: rgba(50, 50, 56, 0.1) url(../images/header.png) no-repeat;
    background-size: 100% 430px;
    background-position: 0 -110px;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(50, 50, 56, 0.5);
    border-radius: 8px;
    padding: 72px 48px 48px 48px;
    position: relative;
    top: -24px;
    -webkit-backdrop-filter: blur(5px);
  }
}
