@import url("reset.css");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --white: #ffffff;
  --lightgray: #e1e1e6;
  --gray: #c4c4cc;
  --darkgray: #323238;
  --black: #202024;
  --pink: #ff008e;
  --yellow: #ffcd1e;
}

body {
  background: var(--black) url(../images/background.png) no-repeat;
  background-position: 0 50px;
  background-size: 100% 430px;
  backdrop-filter: blur(100px);
  font-family: "Roboto", sans-serif;
}

.container__line {
  display: none;
}

.container__card {
  background: url(../images/header.png) no-repeat;
  background-size: 100% 430px;
  display: grid;
  padding: 20vh 56px 56px 56px;
  place-items: center;
  text-align: center;
}

.card__avatar-logo {
  margin: -16px 0 0 0;
  position: absolute;
}

.card__title {
  color: var(--lightgray);
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin: 24px 0 0 0;
}

.card__github {
  color: var(--gray);
  font-size: 16px;
  line-height: 26px;
  margin: 4px 0 0 0;
}

.card__github-icon {
  font-size: 16px;
  line-height: 16px;
  margin: 0 8px 0 0;
}

.card__text {
  color: var(--lightgray);
  font-size: 14px;
  line-height: 24px;
  margin: 32px 0 0 0;
  word-break: break-word;
}

.card__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 64px 0 0 0;
}

.card__social-link {
  background: var(--darkgray);
  border-radius: 2px;
  display: block;
  height: 48px;
  margin: 0 4px;
  transition: 0.3s;
}

.youtube:hover {
  background: #ff0000;
}

.instagram:hover {
  background: #da3175;
}

.facebook:hover {
  background: #4565a3;
}

.twitter:hover {
  background: #3ab2dc;
}

.card__config {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.card__config img {
  display: block;
  height: auto;
  padding: 24px;
  width: 24px;
}

.modal {
  align-items: center;
  background-color: rgba(20, 20, 26, 0.6);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100vw;
  z-index: 9999;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
}

.modal__form-input {
  align-items: center;
  display: flex;
}

.modal__form-input input {
  border-radius: 4px;
  border: 1px solid var(--lightgray);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 20px;
  width: 100%;
}

.modal__form-input i {
  background: var(--lightgray);
  border: 1px solid var(--lightgray);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: var(--black);
  font-size: 22px;
  margin: 0;
  padding: 16px;
}

.modal__form-input svg {
  background: var(--lightgray);
  border: 1px solid var(--lightgray);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 8px;
  width: 48px;
}

.modal__form-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.modal__form-buttons button {
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 16px 0 0 0;
  padding: 16px;
  text-transform: uppercase;
  width: 100%;
}

.modal__form-submit {
  background: var(--pink);
  color: var(--white);
}

.modal__box {
  background-color: var(--white);
  border-radius: 8px;
  min-width: 500px;
  overflow: hidden;
  position: relative;
}

.modal__header {
  position: relative;
}

.modal__title {
  background-color: var(--black);
  color: var(--white);
  font-size: 22px;
  font-weight: bold;
  padding: 24px 0;
  text-align: center;
}

.modal__content {
  color: var(--darkgray);
}

.modal__close {
  color: var(--lightgray);
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  right: 24px;
  top: 16px;
}

@media screen and (min-width: 600px) {
  body {
    background-position: 0 0;
  }

  .container {
    height: 540px;
    margin: 0 auto;
    width: 360px;
  }

  .container__line {
    display: flex;
    justify-content: center;
  }

  .container__line img {
    z-index: 100;
  }

  .container__card {
    background: rgba(50, 50, 56, 0.1) url(../images/header.png) no-repeat;
    background-size: 100% 430px;
    background-position: 0 -110px;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(50, 50, 56, 0.5);
    border-radius: 8px;
    padding: 72px 48px 48px 48px;
    position: relative;
    top: -24px;
    -webkit-backdrop-filter: blur(5px);
  }
}

@media (max-width: 767px) {
  .modal__box {
    min-width: auto;
    width: 90%;
  }
}
